<form [formGroup]="participanteForm" (ngSubmit)="onSubmit()" class="bg-slate-900 border border-slate-800 rounded-2xl p-8 flex flex-col gap-5 w-full">

    <div>
        <h2 class="text-2xl font-bold text-white text-center">
            Cadastrar Participante
        </h2>
        <p class="text-slate-400 text-center text-sm mt-1">
            Preencha seus dados para participar do evento
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="nome" class="text-sm font-semibold text-slate-300">
            Nome
        </label>
        <input
            type="text"
            id="nome"
            formControlName="nome"
            placeholder="Digite seu nome"
            class="w-full rounded-xl bg-slate-800 border px-4 py-3 text-white placeholder-slate-500 outline-none transition hover:border-slate-600"
            [ngClass]="participanteForm.get('nome')?.invalid && participanteForm.get('nome')?.touched ? 'border-rose-500 focus:border-rose-500 focus:ring-rose-500/30'
            :'border-slate-700 focus:border-indigo-500 focus:ring-indigo-500/30'">

            <span
                *ngIf="participanteForm.get('nome')?.invalid && participanteForm.get('nome')?.touched"
                class="text-rose-400 text-xs">
                Nome é obrigatório
            </span>

    </div>

    <div class="flex flex-col gap-1">
        <label for="email" class="text-sm font-semibold text-slate-300">
            Email
        </label>
        <input
        [ngClass]="participanteForm.get('email')?.invalid && participanteForm.get('email')?.touched ? 'border-rose-500 focus:borderrose-500 focus-within:ring-rose-500-30'
        : 'border-slate-700 focus:border-indigo-500 focus:ring-indigo-500/30' "
            type="email"
            id="email"
            formControlName="email"
            placeholder="Digite seu email"
            class="w-full rounded-xl bg-slate-800 border px-4 py-3 text-white placeholder-slate-500 outline-none transition hover:border-slate-600">
            
            <span *ngIf="participanteForm.get('email')?.hasError('required') && participanteForm.get('email')?.touched"
                class="text-rose-400 text-xs">
                Email é obrigatório
            </span>

            <span *ngIf="participanteForm.get('email')?.hasError('email') && participanteForm.get('email')?.touched"
                class="text-rose-400 text-xs">
                Email inválido
            </span>
    </div>

    <button
        type="submit"
        [disabled]="participanteForm.invalid || statusEvento === 'LOTADO' || statusEvento === 'ENCERRADO' || enviando"
        class="w-full mt-2 bg-indigo-500 hover:bg-indigo-400 disabled:bg-slate-700 disabled:cursor-not-allowed disabled:opacity-50 transition text-white font-semibold py-3 rounded-xl">
        {{enviando ? 'Enviando...' : 'Cadastrar'}}
    </button>

    <div *ngIf="statusEvento === 'LOTADO'"
        class="bg-amber-500/10 border border-amber-500/30 text-amber-400 p-3 rounded-xl text-center text-sm font-medium">
        Esse evento já está lotado. Não é possível se inscrever.
    </div>

    <div *ngIf="statusEvento === 'ENCERRADO'"
        class="bg-amber-500/10 border border-amber-500/30 text-amber-400 p-3 rounded-xl text-center text-sm font-medium">
        Esse evento já foi encerrado. Não é possível se inscrever
    </div>

    <div
        *ngIf="mensagemErro"
        class="bg-rose-500/10 border border-rose-500/30 text-rose-400 p-3 rounded-xl text-center text-sm font-medium">
        {{mensagemErro}}
    </div>

    <div
        *ngIf="mensagemSucesso"
        class="bg-emerald-500/10 border border-emerald-500/30 text-emerald-400 p-3 rounded-xl text-center text-sm font-medium">
        {{mensagemSucesso}}
    </div>

</form>